<script lang="ts" setup></script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-img src="angry.png" max-height="68%" max-width="68%"></v-img>
      </v-col>
      <v-col>
        <div class="text-center font-weight-medium">Angry</div>
        <v-btn block class="ma-4" height="50" width="100"> ANGRY </v-btn>
        <v-btn block class="ma-4" height="50" width="100"> CUTE </v-btn>
        <v-btn block class="ma-4" height="50" width="100"> EXCITED </v-btn>
        <v-btn block class="ma-4" height="50" width="100"> PAIN </v-btn>
        <v-btn block class="ma-4" height="50" width="100"> SHOCKED </v-btn>
        <v-btn block class="ma-4" height="50" width="100"> SMILE </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
