<script lang="ts" setup>
import { ref } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="3" v-for="(item, index) of products" :key="index">
        <v-card height="150" width="200" align="center">
          <v-card-title class="text-center" style="font-size: medium">
            {{ item.name }}
          </v-card-title>
          <v-card-text class="text-center" style="font-size: medium">
            {{ item.price }}
          </v-card-text>
          <v-btn>ADD</v-btn>
        </v-card>
      </v-col>
      <v-col></v-col>
    </v-row>
  </v-container>
</template>
