<script lang="ts" setup>
import { ref } from "vue";
const number = ref("0");
</script>

<template>
  <v-container>
    <v-row>
      <v-col>
        <v-text-field
          label="please input number"
          v-model="number"
          :rules="[(v) => !!v || 'Number is not empty!!']"
        >
        </v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-container>number</v-container>
    </v-row>
  </v-container>
</template>
